BODY, TABLE, H2{
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
}
BODY{
	font : 12px;
  background: #decd99;
	;
}
TABLE {
	font : 12px;
	color : Black;
	border : 1px solid Black;
	border-collapse : collapse;
}
TR , TD{
}
HR{
	width : 95%;
	color : Black;
	height : 1px;
}
A {
	text-decoration: none;
	color : Navy;
	font : bold;
}
A:Hover {
	color : Red;
}
H1 {
	font-size : 24px;
	text-align : center;
}
H2 {
	font-size : 16px;
	text-align : center;
}
IMG{
	border : 0px;
}
.tlacitko {
  font-family : Arial CE,Arial, Helvetica CE, Helvetica, sans-serif CE, sans-serif;
  background: #decd99;
  font: bold;
  font-size: 12;
  border: 1px solid #000000;
 }
BODY.menu {
	background: url(obr/pozadi.gif);
}
A.menu:HOVER {
	background : #FFFFCE;
}

TABLE.ram, TD.ram, TR.ram {
	border : 0px;
}
TABLE.norm {
	background: url(obr/t_norm.gif);
}
TABLE.dvoj {
	background: url(obr/t_norm.gif);
	border : 1px double Black;
	border-collapse : separate;
}
